@import "tailwindcss";

@theme {
	--color-bg: #2c2c2c;
	--color-shark: #1d1d1d;
	--color-text-secondary: #b3b3b3;
	--color-primary: #7c3aed;

	/* Animações */
	--animation-typing: typing 8s steps(25) infinite;
	--animation-blink: blink 0.5s step-end infinite alternate;
}

/* Keyframes */
@keyframes typing {
	0% {
		width: 0;
	}
	25% {
		width: 100%;
	}
	50% {
		width: 100%;
	}
	75% {
		width: 0;
	}
	100% {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* Utilitário para animação de digitação */
.typing-animation {
	animation: var(--animation-typing), var(--animation-blink);
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid var(--color-text-secondary);
}

/* Tailwind custom utility para mobile */
@media (max-width: 768px) {
	.sm-mx-auto {
		@apply mx-auto;
	}
}
